/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.live-wrapper .header {
  width: 100%;
  height: 1000px;
  background-image: url("../images/background-live-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.live-wrapper .header .play-match {
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.live-wrapper .header .player-wrapper {
  width: 100%;
  display: flex;
  height: 695px;
  justify-content: center;
}
@media only screen and (max-width: 1500px) {
  .live-wrapper .header .player-wrapper {
    height: 560px;
  }
}
.live-wrapper .header .player-wrapper .box-player {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-width: 1230px;
}
.live-wrapper .header .player-wrapper .box-player iframe {
  width: 100%;
  height: 100%;
}
.live-wrapper .header .player-wrapper .box-chat {
  min-width: 370px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
}
.live-wrapper .header .player-wrapper .box-chat .chat-header {
  width: 100%;
  height: auto;
  padding: 10px 16px;
  display: flex;
  background-color: #652079;
  justify-content: space-between;
  align-items: center;
}
.live-wrapper .header .player-wrapper .box-chat .chat-header .box-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.live-wrapper .header .player-wrapper .box-chat .chat-header .list-dot {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.live-wrapper .header .player-wrapper .box-chat .chat-header .list-dot .dot {
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 16px 12px 12px 16px;
  max-height: 600px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
}
@media only screen and (max-width: 1500px) {
  .live-wrapper .header .player-wrapper .box-chat .chat-content {
    max-height: 470px;
  }
}
.live-wrapper .header .player-wrapper .box-chat .chat-content::-webkit-scrollbar {
  width: 5px;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content .list-message {
  width: 100%;
  height: auto;
  padding-right: 5px;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content .list-message .message-item {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content .list-message .message-item .avatar {
  display: block;
  text-decoration: none;
  min-width: 40px;
  min-height: 40px;
  border: none;
  border-radius: 50%;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content .list-message .message-item .avatar img {
  display: block;
  min-width: 40px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
.live-wrapper .header .player-wrapper .box-chat .chat-content .list-message .message-item .message-detail {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form {
  width: 100%;
  height: fit-content;
  padding: 16px;
  background-color: #fff;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper form {
  display: block;
  width: 100%;
  cursor: pointer;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper input {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px 50px 10px 20px;
  background: #edf2f7;
  border-radius: 1000px;
  border: none;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper input:focus {
  outline: none;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper .btn-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e34b31;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.live-wrapper .header .player-wrapper .box-chat .chat-form .form-wrapper .btn-send:focus {
  outline: none;
}
.live-wrapper .header .control {
  width: 100%;
  height: auto;
  background-color: #31113a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.live-wrapper .header .control .list-server {
  display: flex;
  gap: 12px;
}
.live-wrapper .header .control .list-server .btn-server {
  outline: none;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  color: #e34b31;
  border: 1px solid #e34b31;
  background-color: transparent;
}
.live-wrapper .header .control .list-server .btn-server:focus {
  outline: none;
}
.live-wrapper .header .control .list-server .active {
  color: #fff;
  background-color: #e34b31;
}
.live-wrapper .header .control .list-contact {
  display: flex;
  gap: 24px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.live-wrapper .header .control .list-contact li a {
  text-decoration: none;
  display: block;
}
.live-wrapper .header .control .list-contact li a img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.live-wrapper .header .bet-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
}
.live-wrapper .header .bet-wrapper .list-club {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.live-wrapper .header .bet-wrapper .list-club .club-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.live-wrapper .header .bet-wrapper .list-club .club-item .club-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.live-wrapper .header .bet-wrapper .list-club .club-item img {
  display: block;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.live-wrapper .header .table-bet {
  color: #fff;
}
.live-wrapper .header .table-bet .customer-nav-link {
  border: none;
  border-radius: 8px 0px 0px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
  padding: 24px 20px;
  margin-bottom: 6px;
  background: #652079;
  box-shadow: inset -6px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px 0px 0px 8px;
  min-width: 200px;
}
.live-wrapper .header .table-bet .active {
  border-left: 3px solid #e34b31;
  background-color: #fff;
  color: #1a202c;
}
.live-wrapper .header .table-bet .tab-pane {
  border: none;
}
.live-wrapper .header .table-bet .tab-bet-content {
  min-width: 1000px;
  height: auto;
  background-color: #fff;
  border-radius: 10px !important;
  display: flex;
  padding: 24px;
  gap: 64px;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item {
  width: 50%;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .step-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a202c;
  display: inline-block;
  margin-bottom: 16px;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club {
  display: flex;
  gap: 24px;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club .active {
  border: 1px solid #E34B31;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club .bet-club-item {
  width: 50%;
  min-width: 230px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club .bet-club-item img {
  display: block;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club .bet-club-item .club-name {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
  margin: 12px 0px 4px;
}
.live-wrapper .header .table-bet .tab-bet-content .bet-item .list-bet-club .bet-club-item .status {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}

/*# sourceMappingURL=live-2.css.map */
