/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body, html {
  font-family: "SVN-Poppins";
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

.signin-wraper {
  width: 100%;
  height: 100vh;
  background-image: url("../images/signin-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.signin-wraper .singin-content {
  display: flex;
  justify-content: center;
  padding-top: 64px;
}
.signin-wraper .signin-form {
  min-width: 530px;
  max-width: 530px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  padding: 40px;
}
@media only screen and (max-width: 991px) {
  .signin-wraper .signin-form {
    min-width: 100%;
    max-width: 100%;
    padding: 24px 16px;
  }
}
.signin-wraper .logo-wrapper {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.signin-wraper .logo-wrapper img {
  display: block;
  min-width: 197px;
  max-width: 197px;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .signin-wraper .logo-wrapper img {
    max-width: 151px;
  }
}
.signin-wraper .form-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1a202c;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .signin-wraper .form-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.signin-wraper .input-item {
  cursor: pointer;
  width: 100%;
  margin-bottom: 16px;
}
.signin-wraper .input-common {
  display: block;
  width: 100%;
  padding: 12px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  background: #edf2f7;
  border-radius: 1000px;
  cursor: pointer;
  /* identical to box height */
  /* Gray:600 */
  color: #1a202c;
}
.signin-wraper .input-common::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:600 */
  color: #718096;
}
.signin-wraper .input-common:focus {
  outline: none;
  border: none;
}
.signin-wraper .input-password {
  display: flex;
  padding: 12px 24px;
  background: #edf2f7;
  border-radius: 1000px;
}
.signin-wraper .input-password input {
  display: flex;
  flex-grow: 1;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #edf2f7;
  border: none;
  cursor: pointer;
  outline: none;
  color: #1a202c;
}
.signin-wraper .input-password input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #718096;
}
.signin-wraper .input-password .btn-forgot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Primary 1 */
  color: #461a53;
  text-decoration: none;
  display: block;
  padding: 2px 0px 2px 12px;
  border-left: 1px solid #cbd5e0;
  min-width: max-content;
}
.signin-wraper .form-submit {
  margin-bottom: 24px;
}
.signin-wraper .btn-submit {
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  cursor: pointer;
  background: #461a53;
  border-radius: 1000px;
  border: none;
}
.signin-wraper .btn-submit:focus {
  outline: none;
}
.signin-wraper .login-on-via {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signin-wraper .login-on-via .via-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
  margin-bottom: 16px;
}
.signin-wraper .login-on-via .list-via {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.signin-wraper .login-on-via .list-via .via-item {
  text-decoration: none;
}
.signin-wraper .dash {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #E2E8F0;
}
.signin-wraper .have-account-title {
  display: block;
  margin: 16px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 100%;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
}
.signin-wraper .btn-signup {
  background-color: #fff;
  border: 1px solid #461A53;
  color: #461A53;
  text-decoration: none;
}
.signin-wraper .submit-signup {
  margin-bottom: 0;
}

/*# sourceMappingURL=signin.css.map */
