@charset "utf-8";
@import "variables";
@import "common";
@import "mixins";
@import "fonts";

.live-wrapper {
  .header {
    width: 100%;
    height: auto;
    background-image: url("../images/background-live-header.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 108px;

    .play-match {
      width: 100%;
      height: auto;
      padding: 40px 40px 0px 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include mq(max_md) {
        padding: 0;
      }
    }
    .player-wrapper {
      width: 100%;
      display: flex;
      height: 695px;
      justify-content: center;

      @media only screen and (max-width: 1500px) {
        height: 560px;
      }

      @include mq(max_md) {
        height: auto;
      }

      .box-player {
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        max-width: 1230px;
        @include mq(max_md) {
          width: 100%;
          height: 211px;
        }
        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .box-chat {
        min-width: 370px;
        max-width: 370px;
        display: flex;
        flex-direction: column;

        @include mq(max_md) {
          display: none;
        }

        .chat-header {
          width: 100%;
          height: auto;
          padding: 10px 16px;
          display: flex;
          background-color: #652079;
          justify-content: space-between;
          align-items: center;
          .box-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            margin: 0;
            padding: 0;
          }

          .list-dot {
            display: flex;
            gap: 5px;
            cursor: pointer;

            .dot {
              width: 4px;
              height: 4px;
              border: none;
              border-radius: 50%;
              background-color: #fff;
            }
          }
        }

        .chat-content {
          flex-grow: 1;
          background-color: #fff;
          padding: 16px 12px 12px 16px;
          max-height: 600px;
          overflow: auto;
          @media only screen and (max-width: 1500px) {
            max-height: 470px;
          }

          /* width */
          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 5px;
          }
          .list-message {
            width: 100%;
            height: auto;
            padding-right: 5px;
            .message-item {
              display: flex;
              gap: 12px;
              margin-bottom: 16px;

              .avatar {
                display: block;
                text-decoration: none;
                min-width: 40px;
                min-height: 40px;
                border: none;
                border-radius: 50%;

                img {
                  display: block;
                  min-width: 40px;
                  object-fit: cover;
                  border: none;
                  border-radius: 50%;
                }
              }

              .message-detail {
                margin: 0;
                padding: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1a202c;
              }
            }
          }
        }

        .chat-form {
          width: 100%;
          height: fit-content;
          padding: 16px;
          background-color: #fff;
          .form-wrapper {
            display: flex;
            position: relative;
            width: 100%;
            max-height: 40px;

            form {
              display: block;
              width: 100%;
              cursor: pointer;
            }
            input {
              width: 100%;
              height: auto;
              display: block;
              padding: 10px 50px 10px 20px;
              background: #edf2f7;
              border-radius: 1000px;
              max-height: 40px;
              border: none;
              &:focus {
                outline: none;
              }
            }

            .btn-send {
              position: absolute;
              top: 0;
              right: 0;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #e34b31;
              border: none;
              outline: none;
              border-radius: 50%;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    .control {
      width: 100%;
      height: auto;
      background-color: #31113a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      max-width: 1604px;
      margin: auto;

      @media only screen and (max-width: 1500px) {
        max-width: 1360px;
      }

      @include mq(max_md) {
        width: 100%;
        max-width: 100%;
      }

      .list-server {
        display: flex;
        gap: 12px;

        .btn-server {
          outline: none;
          padding: 8px 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          border-radius: 8px;
          color: #e34b31;
          border: 1px solid #e34b31;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
        .active {
          color: #fff;
          background-color: #e34b31;
        }
      }

      .list-contact {
        display: flex;
        gap: 24px;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;

        @include mq(max_md) {
          display: none;
        }

        li {
          a {
            text-decoration: none;
            display: block;

            img {
              display: block;
              width: 24px;
              height: 24px;
              object-fit: cover;
            }
          }
        }
      }
    }

    .bet-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      justify-content: center;
      flex-direction: column;

      .list-club {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 24px 0px;

        @include mq(max_md) {
          gap: 8px;
          margin: 12px 0px;
        }

        .club-item {
          display: flex;
          width: 50%;
          align-items: center;
          gap: 16px;

          &:first-child {
            justify-content: flex-end;
          }
          @include mq(max_md) {
            gap: 8px;
          }

          .club-name {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
            min-width: max-content;

            @include mq(max_md) {
              font-size: 16px;
            }
          }

          img {
            display: block;
            width: 64px;
            min-width: 64px;
            max-width: 64px;
            height: 64px;
            border: none;
            border-radius: 50%;
            object-fit: cover;

            @include mq(max_md) {
              width: 40px;
              height: 40px;
              min-width: 40px;
              max-width: 40px;
            }
          }
        }
      }
    }
    .table-bet {
      color: #fff;
      display: flex;
      justify-content: center;

      .nav {
        flex-direction: column;

        @include mq(max_md) {
          flex-direction: row !important;
          gap: 4px;
        }
      }
      .customer-nav-link {
        border: none;
        border-radius: 8px 0px 0px 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-align: left;
        padding: 27px 20px;
        margin-bottom: 6px;
        background: #652079;
        box-shadow: inset -6px 0px 4px rgba(0, 0, 0, 0.08);
        border-radius: 8px 0px 0px 8px;
        min-width: 200px;

        @include mq(max_md) {
          min-width: fit-content;
          padding: 8px 12px;
          font-size: 14px;
          line-height: 21px;
          border-radius: 6px 6px 0px 0px;
          margin-bottom: 0;
        }
      }

      .active {
        border-left: 3px solid #e34b31;
        background-color: #fff;
        color: #1a202c;
        box-shadow: none !important;

        @include mq(max_md) {
          border: none;
        }
      }
      .tab-pane {
        border: none;
      }

      .tab-bet-content {
        min-width: 1000px;
        height: auto;
        background-color: #fff;
        border-radius: 10px !important;
        display: flex;
        padding: 23px;
        gap: 64px;

        @include mq(max_md) {
          min-width: fit-content;
          padding: 16px;
          flex-direction: column !important;
          gap: 24px;
        }

        .bet-item {
          width: 50%;
          @include mq(max_md) {
            width: 100%;
          }

          .step-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #1a202c;
            display: inline-block;
            margin-bottom: 16px;
          }

          .list-bet-club {
            display: flex;
            gap: 24px;
            @include mq(max_md) {
              gap: 16px;
            }

            .active {
              border: 1px solid #e34b31 !important;
            }
            // ======= style radio===========
            .choose-item {
              position: absolute;
              top: 12px;
              left: 12px;

              .checkbox-wrapper {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }

              /* Hide the browser's default checkbox */
              .checkbox-wrapper input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              /* Create a custom checkbox */
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid #a0aec0;
              }

              /* On mouse-over, add a grey background color */
              .checkbox-wrapper:hover input ~ .checkmark {
                // background-color: transparent;
                // border: 1px solid #A0AEC0;;
              }

              /* When the checkbox is checked, add a blue background */
              .checkbox-wrapper input:checked ~ .checkmark {
                background-color: #e34b31;
                border: none;
              }

              /* Create the checkmark/indicator (hidden when not checked) */
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }

              /* Show the checkmark when checked */
              .checkbox-wrapper input:checked ~ .checkmark:after {
                display: block;
              }

              /* Style the checkmark/indicator */
              .checkbox-wrapper .checkmark:after {
                left: 8px;
                top: 4px;
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 1px;
              }
            }

            // ========end style radio=======
            .bet-club-item {
              width: 230px;
              height: 160px;
              background: #ffffff;
              border: 1px solid #e2e8f0;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              cursor: pointer;
              position: relative;

              @include mq(max_md) {
                width: 50%;
                height: 150px;
              }

              img {
                display: block;
                width: 64px;
                height: 64px;
                border: none;
                border-radius: 50%;
                object-fit: cover;
              }

              .club-name {
                display: inline-block;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1a202c;
                margin: 12px 0px 4px;
              }

              .status {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #718096;
              }

              .choose-title {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
              }

              .odd-even-value {
                position: absolute;
                width: 100%;
                height: auto;
                padding-bottom: 8px;
                left: 0;
                bottom: 0;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                display: block;
                color: #718096;
              }
            }
          }

          .choose-price {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include mq(max_md) {
              flex-direction: column;
            }

            .list-price {
              display: flex;
              gap: 8px;

              .price-item {
                display: block;
                background: #edf2f7;
                border-radius: 8px;
                width: 42px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #1a202c;
              }
            }
            .win-message {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1a202c;
              @include mq(max_md) {
                margin-top: 8px;
              }

              .win-price {
                color: #18b745;
              }
            }
          }

          .input-form {
            width: 100%;
            display: flex;
            border-bottom: 1px solid #1a202c;
            height: 64px;
            align-items: center;
            margin-bottom: 20px;

            @include mq(max_md) {
              height: 48px;
              margin-bottom: 12px;
            }

            .icon-dollar {
              display: block;
              min-width: 28px;
              max-width: 28px;
              height: 28px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 12px;
            }

            input {
              display: block;
              width: 100%;
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 42px;
              color: #1a202c;
              border: none;
              padding: 0;
              margin: 0;

              &:focus {
                outline: none;
                border: none;
              }
            }
          }

          .box-submit {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .intro-message {
              display: flex;
              align-items: center;
              margin: 0;
              padding: 0;
              margin-right: 15px;
              gap: 4px;

              img {
                display: block;
                min-width: 18px;
                max-width: 18px;
                object-fit: cover;
                margin-right: 4px;
              }

              span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #461a53;
                display: inline-block;
                margin-top: 4px;
              }
            }

            .btn-confirm {
              cursor: pointer;
              padding: 8px 13px;
              background: #e34b31;
              border-radius: 8px;
              min-width: 93px;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
              border: none;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .table-bet-mb {
        @include mq(max_md) {
          flex-direction: column;
          width: 100%;
        }
      }
    }

    .result-bet-detail {
      width: 100%;
      max-width: 1200px;
      margin: 12px auto;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      padding: 16px;
      color: #fff;
      @include mq(max_md) {
        padding: 8px;
      }

      .title-detail {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        margin-bottom: 8px;
      }

      .detail-item {
        display: flex;
        padding: 12px 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        @include mq(max_md) {
          padding: 6px 16px;
        }
        .content {
          width: calc(100% / 3);
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #ffffff;

          @include mq(max_md) {
            font-size: 12px;
          }
          &:first-child {
            text-align: left;
          }

          &:nth-child(2) {
            @include mq(max_md) {
              text-align: center;
            }
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

.live-main-content {
  width: 100%;
  height: auto;
  position: relative;
  top: -48px;
  left: 0;

  @include mq(max_md) {
    top: -37px;
  }

  .wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    //==============START STYLE MAIN TAB ===================
    .nav {
      gap: 8px;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 24px;
      @include mq(max_md) {
        gap: 6px;
      }
    }

    .tab-content {
      width: 100%;
    }

    .nav-link-customer {
      cursor: pointer;
      width: 164px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      background: #e2e8f0;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.02);
      border-radius: 6px 6px 0px 0px;
      border: none;

      &:focus {
        outline: none;
      }

      @include mq(max_md) {
        width: fit-content;
        height: auto;
        padding: 8px 16px;
      }
    }

    .active {
      background: #ffffff;
      border-radius: 6px 6px 0px 0px;
    }

    .main-tab-content {
      display: flex;
      flex-direction: column;
    }

    // ==============END STYLE MAIN TAB ===================

    //==============START STYLE SUB TAB ===================
    .nav-sub-tab {
      gap: 24px;
      margin-bottom: 40px;
      border: none;
      @include mq(max_md) {
        margin-bottom: 24px;
      }
      .active {
        color: #e34b31 !important;
        border-bottom: 2px solid #e34b31 !important;
      }
    }

    .sub-tab-customer {
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      padding: 8px 0px;
      border: none;
      &:focus {
        outline: none;
        border: none;
      }
    }
    //==============START STYLE SUB TAB ===================
  }
}

// ==================== TABLE 1 (PREVIOUS)===========
.table-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  color: #1a202c;
  margin: 0;
  padding: 0;

  .sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a202c;
  }
}
.table-1-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 40px;

  .table-1-nav {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    gap: 24px !important;
    padding: 10px 24px 0px 10px;
    background-color: #edf2f7;
    margin-bottom: 0px !important;

    .active {
      border-bottom: 2px solid #e34b31 !important;
      color: #e34b31 !important;
    }

    .nav-link-table-1-customer {
      display: inline;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      padding-bottom: 8px;

      &:focus {
        outline: none;
      }
    }
  }
  .table-content {
    .table-header-pc {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      padding: 16px 0px;

      @include mq(max_md) {
        display: none;
      }
    }

    .table-header-mb {
      display: none;
      padding: 16px 0px;

      .top-line {
        display: flex;
        gap: 12px;
      }
      @include mq(max_md) {
        display: block;
      }
    }
    .club-info {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 36px;

      @include mq(max_md) {
        gap: 26px;
      }

      .club-image {
        display: block;
        min-width: 44px;
        max-width: 44px;
        height: 44px;
        border-radius: 50%;
        object-fit: cover;
      }

      .list-card {
        display: flex;
        gap: 24px;
        @include mq(max_md) {
          gap: 20px;
        }

        .card-item {
          display: flex;
          flex-direction: column;
          gap: 2px;
          align-items: center;
          align-items: center;

          .icon-ball {
            width: 16px;
            height: 20px;
            min-width: 20px;
          }
          .card {
            display: block;
            width: 16px;
            height: 20px;
            border-radius: 3px;
          }

          .red-card {
            background-color: #e34b31;
          }

          .yellow-card {
            background-color: #fac712;
          }

          .number {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #1a202c;
          }
        }
      }
      &:first-child {
        justify-content: flex-end;
      }

      &:last-child {
        justify-content: flex-start;
      }
    }

    .list-progress {
      display: flex;
      gap: 16px;
      margin: 0px 36px;

      @include mq(max_md) {
        gap: 16px;
        margin: 0px;
        justify-content: center;
        margin-top: 12px;
      }

      .progress {
        border-radius: 4px !important;
        height: 22px !important;
      }

      .progress-bar {
        border-radius: 4px;
        padding: 2px 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        text-align: left;
      }
      .progress-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1a202c;
        }

        .progress-wrapper {
          min-width: 125px;
          max-width: 125px;

          @include mq(max_md) {
            min-width: 106px;
            max-width: 106px;
          }
        }

        &:first-child {
          .progress {
            background: rgba(227, 75, 49, 0.2) !important;
            .progress-bar {
              background-color: #e34b31;
            }
          }
        }

        &:nth-child(2) {
          .progress {
            background: rgba(74, 85, 104, 0.2) !important;
            .progress-bar {
              background-color: #4a5568;
            }
          }
        }

        &:last-child {
          .progress {
            background: rgba(70, 26, 83, 0.2) !important;

            .progress-bar {
              background-color: #461a53;
            }
          }
        }
      }
    }

    // STYLE TIMLINE TABLE 1
    .list-timeline {
      .collapsible {
        margin: 0;
        padding: 0;
        background-color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1a202c;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        padding: 8px 12px;

        &:hover {
          cursor: pointer;
          background: #edf2f7;
        }

        @include mq(max_md) {
          padding: 4px 6px;
          gap: 16px;
        }
        .icon-arrow {
          display: block;
          min-width: 10px;
          max-width: 10px;
          height: auto;
          object-fit: cover;
        }

        .collapse-icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 72px;
          @include mq(max_md) {
            margin-right: 0px;
            width: 20px;
            height: 20px;
          }
          .icon-arrow-up {
            display: none;
          }
        }

        .colapse-title-pc {
          @include mq(max_md) {
            display: none !important;
          }
        }

        .colapse-title-mb {
          display: none !important;
          @include mq(max_md) {
            display: flex !important;
          }
        }
        .collapse-title {
          display: flex;
          flex-grow: 1;
          align-items: center;

          .date-time {
            width: 152px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 252px;

            @include mq(max_md) {
              margin-right: 10px;
            }
            .flag {
              display: flex;
              gap: 8px;
              align-items: center;
              @include mq(max_md) {
                gap: 8px;
              }
              img {
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                min-width: 16px;
                max-width: 16px;
                object-fit: cover;
              }

              span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1a202c;
              }
            }

            .time {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1a202c;
            }
          }

          .list-club {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 16px;

            @include mq(max_md) {
              gap: 2px;
              flex-direction: column;
              align-items: flex-start;

              .club-item {
                display: flex;
                gap: 6px;
                align-items: flex-start !important;
              }
            }

            .club-name {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1a202c;
              min-width: max-content;
            }
            .list-score {
              display: flex;
              gap: 4px;
              align-items: center;
            }

            .score {
              display: block;
              width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #4a5568;
              border-radius: 6px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #ffffff;
            }
          }
        }
      }

      .timeline-content {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #f7fafc;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #1a202c;
        max-height: 0;
        overflow: hidden;
        padding: 0px 12px;
        transition: all 0.3s ease;

        .timeline-detail {
          width: 100%;
          height: auto;
          display: flex;
          background-color: #f7fafc;

          .empty {
            width: 506px;
          }

          .timeline-result {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 8px 0px;

            .left-column {
              min-width: 132px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              gap: 8px;
            }

            .middle-column {
              width: 60px;
              display: flex;
              justify-content: center;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1a202c;
            }

            .right-column {
              min-width: 132px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 8px;
            }

            .icon-ball {
              display: block;
              width: 24px;
              height: 24px;
              object-fit: cover;
              min-width: 24px;
            }

            .player-name {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1a202c;
            }
            .card {
              display: block;
              width: 16px;
              height: 20px;
              border-radius: 3px;
            }

            .red-card {
              background-color: #e34b31;
            }

            .yellow-card {
              background-color: #fac712;
            }

            .status {
              color: #718096;
            }
          }
        }
      }
    }
  }
  .timeline-item {
    &:nth-of-type(odd) {
      .collapsible {
        background-color: #edf2f7;
      }
    }
  }
  // END STYLE TIME LINE TABLE1
}
// ==========START STYLE TABLE 2=============

.table-2-wrapper {
  width: 100%;
  height: auto;

  .table-2-navs {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    gap: 8px;
    border: none !important;
    margin-bottom: 0 !important;

    .active {
      background-color: #edf2f7;
    }
  }

  .standing-navs {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    gap: 24px !important;
    padding: 10px 24px 0px 10px;
    background-color: #edf2f7;
    margin-bottom: 0px !important;
    border: none !important;

    .active {
      color: #e34b31;
      border-bottom: 2px solid #e34b31;
      background-color: transparent;
    }
  }
  .nav-link-table-2-customer {
    display: inline;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a202c;
    padding-bottom: 8px;

    &:focus {
      outline: none;
    }
  }
  // ============== TABLE2 STYLE==============
  .table-result {
    max-width: 100%;
    height: auto;
    overflow: auto;

    .row-item {
      padding: 10px 24px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      display: flex;
      align-items: center;
      background-color: #fff;

      .team-info {
        min-width: 450px;
        max-width: 450px;
        display: flex;
        align-items: center;

        .team-id {
          display: flex;
          justify-content: center;
          margin-right: 32px;

          .number {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 6px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1a202c;
          }
        }

        .team-name {
          flex-grow: 1;
        }
      }

      .team-result {
        display: flex;
        align-items: center;
        gap: 50px;
        flex-grow: 1;

        .result-detail {
          flex-grow: 1;
          display: flex;

          .detail-item {
            min-width: 50px;
            width: calc(100% / 8);
            height: auto;
            text-transform: capitalize;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }
        }

        .list-player {
          display: flex;
          gap: 2px;
          min-width: 200px;
          max-width: 200px;

          .player-item {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }

          .green {
            background-color: #18b745;
          }

          .grey {
            background-color: #4a5568;
          }

          .orange {
            background-color: #e34b31;
          }
        }
      }
    }

    .table-heading {
      background-color: #4a5568;
      color: #fff;
      min-width: max-content;
    }

    .table-row {
      min-width: max-content;
      &:nth-child(odd) {
        background-color: #edf2f7;
      }

      &:hover {
        cursor: pointer;
        background-color: #edf2f7;
      }
    }
  }

  .list-suggest {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 12px;
    .suggest-item {
      display: flex;
      gap: 6px;
      align-items: center;
      min-width: fit-content;

      .color-league {
        display: block;
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 4px;
      }

      .name-league {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #1a202c;
      }
    }
  }
  .champion {
    background-color: #461a53 !important;
    color: #fff !important;
  }

  .europa {
    background-color: #e34b31 !important;
    color: #fff !important;
  }

  .relegation {
    background-color: #fac712 !important;
    color: #fff !important;
  }
}
// ==========END STYLE TABLE 2=============

// ============START STYLE TABLE 3==============

.table-3-wrapper {
  margin-top: 40px;

  .table-content-pc {
    display: flex;

    @include mq(max_md) {
      display: none;
    }
  }

  .compare-item {
    width: 50%;
    height: auto;

    @include mq(max_md) {
      width: 100%;
    }
    &:last-child {
      .fixture-tabs {
        display: flex;
        justify-content: flex-end !important;
      }
    }
  }

  .fixture-tabs {
    width: 100%;
    margin-bottom: 0 !important;
    background-color: #edf2f7;
    display: flex;
    justify-content: flex-start !important;
    padding: 0px 20px;
    padding-bottom: 8px;
    gap: 10px;
    border: none !important;

    &:first-child {
      padding-top: 8px !important;
    }
    .active {
      background-color: #fff;
    }
  }
  .nav-link-fixture-customer {
    border: none;
    padding: 4px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a202c;
    border-radius: 6px !important;
  }

  .list-result {
    width: 100%;

    .result-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 6px 10px 24px;
      @include mq(max_md) {
        padding: 8px 16px;
      }

      &:nth-child(even) {
        background-color: #f7fafc;
      }

      .team-info,
      .time-and-address {
        display: flex;
        flex-direction: column;

        .team-id,
        .time {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #718096;
          text-transform: uppercase;
        }

        .team-name,
        .address {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1a202c;
          text-transform: capitalize;

          @include mq(max_md) {
            font-size: 12px;
          }
        }
      }

      .right-box {
        display: flex;
        align-items: center;
        gap: 24px;
        @include mq(max_md) {
          gap: 16px;
          flex-direction: row !important;
        }

        .sign-wrapper {
          min-width: 24px;
          max-height: 24px;
        }

        .sign {
          width: 24px;
          height: 24px;
          max-height: 24px;
          border: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 0 !important;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
        }

        .time-and-address {
          align-items: flex-end !important;
        }

        .green {
          background-color: #18b745;
        }

        .grey {
          background-color: #4a5568;
        }

        .orange {
          background-color: #e34b31;
        }
      }

      .score {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #1a202c;
      }
    }

    .incoming-match {
      background-color: rgba(227, 75, 49, 0.15) !important;
    }

    .reverse {
      display: flex;
      flex-direction: row-reverse !important;
      padding: 10px 24px 10px 6px !important;
      @include mq(max_md) {
        padding: 8px 16px !important;
      }

      .right-box {
        display: flex;
        flex-direction: row-reverse !important;

        @include mq(max_md) {
          flex-direction: row !important;
        }

        .time-and-address {
          align-items: flex-start !important;
          @include mq(max_md) {
            align-items: flex-end !important;
          }
        }
      }
      .team-info {
        align-items: flex-end !important;
        @include mq(max_md) {
          align-items: flex-start !important;
        }
      }

      @include mq(max_md) {
        flex-direction: row !important;
      }
    }
  }
  .suggesst {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 16px;

    .status {
      display: block;
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 4px;
      background-color: #fbe4e0;
    }

    .descripion {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #1a202c;
    }
  }

  .table-content-mb {
    width: 100%;
    display: none;

    .fixture-tabs-mb {
      display: flex;
      justify-content: flex-start !important;
      border: none;
      gap: 24px;
      margin: 12px 0px !important;
      .active {
        border-bottom: 2px solid #e34b31;
        color: #e34b31;
      }
    }
    .nav-link-fixture-tab-customer {
      border: none;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0px 0px 8px 0px !important;

      img {
        display: block;
        min-width: 24px;
        max-width: 24px;
        height: auto;
        border: none;
        border-radius: 50%;
        object-fit: cover;
      }

      .team-name {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1a202c;
      }
    }

    #team-1 {
      .compare-item {
        .fixture-tabs {
          justify-content: flex-start !important;
          padding: 8px 16px;
        }
      }
    }

    #team-2 {
      .compare-item {
        .fixture-tabs {
          justify-content: flex-end !important;
          padding: 8px 16px;
        }
      }
    }

    @include mq(max_md) {
      display: block;
      justify-content: flex-start !important;
    }
  }
}
// =============END STYLE TABLE 3================
