@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.fixed-header {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
    .logo img {
      max-height: 35px;
    }
  }
}
.main-header {
  position: relative;
  width: 100%;
  background: white;
  transition: all 0.4s ease;
  padding: 8px 40px;
  z-index: 9999999;
  @include mq(max_lg) {
    padding-left: 0;
    padding-right: 0;
  }
  .btn-menu {
    outline: 0;
    line-height: 1;
    box-shadow: none;
    margin-left: 5px;
    &:hover {
      path {
        stroke: $primary;
      }
    }
    path {
      transition: all 0.4s ease;
    }
  }
  .logo {
    img {
      max-height: 50px;
      transition: all 0.4s ease;
      @include mq(max_xs) {
        max-width: 150px;
      }
    }
  }
  .col-logo {
  }
  .col-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .main-nav {
      margin-top: -2px;
      li {
        &:first-child {
          margin-left: 0 !important;
        }
        @include mq(max_lg) {
          margin-left: 18px;
        }
        @include mq(max_md) {
          margin-left: 4px;
        }
        a {
          @include mq(max_lg) {
            font-size: 16px;
          }
          @include mq(max_md) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;
    a {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #1a202c;
      text-decoration: none;
      &:hover,
      &.active {
        color: $primary;
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
      &:before {
        opacity: 0;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        transform: translate(-50%, 0);
        height: 3px;
        width: 0;
        background: $primary;
        transition: all 0.4s ease;
      }
    }
  }

  .btn-header {
    outline: none;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #e34b31;
    border-radius: 8px;
    min-width: 72px;

    &:focus {
      outline: none;
    }
  }

  .btn-signin {
    background: #e34b31;
    color: #fff;
    text-decoration: none;
  }

  .btn-signup {
    border: 1px solid #e34b31;
    color: #e34b31;
    background-color: #fff;
    text-decoration: none;
  }
  .authen-header {
    display: inline-flex;
    gap: 8px;
    margin-left: 24px;
  }
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas {
  &.show {
    width: 100%;
    border: 0;
  }
  .logo {
    img {
      max-width: 170px;
      @include mq(max_xs) {
        max-width: 140px;
      }
    }
  }
  .main-nav {
    text-align: center;
    li {
      display: block;
      margin-bottom: 40px;
    }
  }
}
